/* CSS Document */

body{ font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
background-color:
 #C9FFBF; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #C9FFBF , #FFAFBD); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #C9FFBF , #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }


h1{
color:#513303;
	font-size:100;
	text-align:center}

		
		
		p{color:
		#53599F;


 font-weight: bold;

 font-style:normal}
ul{ text-align:center;
color:#262C4F;
}

			