/* CSS Document */

body{
		 font-size: 20px;
		 font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif, cursive;padding-left:100px; padding-right:100px;
		margin-left:50px;margin-right:50px;margin-bottom:200px;
		}
	
		h1{font-size:50px;}
		h2{font-size:30px;
		font-weight:400px;}
		