/* CSS Document */


body {
background: #2BC0E4; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2BC0E4 , #EAECC6); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2BC0E4 , #EAECC6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        ;
	font-family: 'Slabo 27px', serif;
	margin-left:50px;margin-right:50px;margin-bottom:200px;}
	
	
	
	h1 {color:#F3F4A0;
		
		text-align: center;
		border-bottom: 1px solid #EAE6B2;
		
		
		
	font-size: 120px;	
			font-transform: capitalize;
			
			}
			
			p{color:#F3F4A0;
			text-align: center;
 font-size: 50px;

 font-weight: bold;

 font-style:normal}
			body {background-color:#333}
			nav {color:#FFF;
			font-size:36px;
			text-align:center}

img {
	display: block;
	width: 700px;
	margin: 0 auto;
	}